{% load staticfiles %}
{% load bootstrap3 %}		
<html>
  
  <head>
   	<title>{% block title %} {% endblock %}</title>
    <meta charset = "utf-8">
    <meta http-equiv = "X-UA-Compatible" content = "IE = edge">
    <meta name = "viewport" content = "width = device-width, initial-scale = 1">
	{% bootstrap_css %}
	<link rel="stylesheet" src="/static/css/main.css" />
	<style>
		{% block css %}{% endblock %}	
	</style>
	{% bootstrap_javascript jquery=1 %}
	<script src="/static/js/jquery-3.1.1.min.js" type="text/javascript" charset="utf-8" async defer>
		{% block header_js %}{% endblock %}	
	</script>

	{% bootstrap_javascript %}
  </head>
  <body>
    <div class="jumbotron text-center">
      <h1>Welcome to AlmaBlase Games</h1>
    </div>
        
    <div class="container">
		<div class="row">
	        <div class="col-md-12">
	    		<form class="form-horizontal">
		    		<div id="custom-search-input">
		                <div class="input-group col-md-12">
		                    <input type="text" class="form-control input-lg" placeholder="Search" />
		                    <span class="input-group-btn">
		                        <button class="btn btn-info btn-lg" type="button">
		                            <i class="glyphicon glyphicon-search"></i>
		                        </button>
		                    </span>
		                </div>
		            </div>
	            </form>
	        </div>
		</div>		
	</div>

    
	<div class="container">
		{% block content %}
		{% endblock %}		
	</div>
	
  
  </body>

</html>
